[submodule "clever-f"]
	path = nvim/pack/plugins/opt/clever-f
	url = https://github.com/rhysd/clever-f.vim
[submodule "coc"]
	path = nvim/pack/plugins/opt/coc
	url = https://github.com/neoclide/coc.nvim
	branch = release
[submodule "commentary"]
	path = nvim/pack/plugins/opt/commentary
	url = https://github.com/tpope/vim-commentary
[submodule "flog"]
	path = nvim/pack/plugins/opt/flog
	url = https://github.com/rbong/vim-flog
[submodule "fugitive"]
	path = nvim/pack/plugins/opt/fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule "gitgutter"]
	path = nvim/pack/plugins/opt/gitgutter
	url = https://github.com/airblade/vim-gitgutter
[submodule "indent-object"]
	path = nvim/pack/plugins/opt/indent-object
	url = https://github.com/michaeljsmith/vim-indent-object
[submodule "lexima"]
	path = nvim/pack/plugins/opt/lexima
	url = https://github.com/cohama/lexima.vim
[submodule "nord"]
	path = nvim/pack/plugins/opt/nord
	url = https://github.com/arcticicestudio/nord-vim
[submodule "sandwich"]
	path = nvim/pack/plugins/opt/sandwich
	url = https://github.com/machakann/vim-sandwich
[submodule "sleuth"]
	path = nvim/pack/plugins/opt/sleuth
	url = https://github.com/tpope/vim-sleuth
[submodule "subversive"]
	path = nvim/pack/plugins/opt/subversive
	url = https://github.com/svermeulen/vim-subversive
[submodule "tmux-navigator"]
	path = nvim/pack/plugins/opt/tmux-navigator
	url = https://github.com/christoomey/vim-tmux-navigator
[submodule "vimtex"]
	path = nvim/pack/plugins/opt/vimtex
	url = https://github.com/lervag/vimtex
[submodule "vsnip"]
	path = nvim/pack/plugins/opt/vsnip
	url = https://github.com/hrsh7th/vim-vsnip
