[submodule "gitgutter"]
	path = dotfiles/nvim/pack/plugins/opt/gitgutter
	url = https://github.com/airblade/vim-gitgutter
[submodule "nord"]
	path = dotfiles/nvim/pack/plugins/opt/nord
	url = https://github.com/arcticicestudio/nord-vim
[submodule "visual-star-search"]
	path = dotfiles/nvim/pack/plugins/opt/visual-star-search
	url = https://github.com/bronson/vim-visual-star-search
[submodule "tmux-navigator"]
	path = dotfiles/nvim/pack/plugins/opt/tmux-navigator
	url = https://github.com/christoomey/vim-tmux-navigator
[submodule "lexima"]
	path = dotfiles/nvim/pack/plugins/opt/lexima
	url = https://github.com/cohama/lexima.vim
[submodule "deoplete-jedi"]
	path = dotfiles/nvim/pack/plugins/opt/deoplete-jedi
	url = https://github.com/deoplete-plugins/deoplete-jedi
[submodule "easy-align"]
	path = dotfiles/nvim/pack/plugins/opt/easy-align
	url = https://github.com/junegunn/vim-easy-align
[submodule "vimtex"]
	path = dotfiles/nvim/pack/plugins/opt/vimtex
	url = https://github.com/lervag/vimtex
[submodule "sandwich"]
	path = dotfiles/nvim/pack/plugins/opt/sandwich
	url = https://github.com/machakann/vim-sandwich
[submodule "indent-object"]
	path = dotfiles/nvim/pack/plugins/opt/indent-object
	url = https://github.com/michaeljsmith/vim-indent-object
[submodule "chadtree"]
	path = dotfiles/nvim/pack/plugins/opt/chadtree
	url = https://github.com/ms-jpq/chadtree
[submodule "nvim-lsp"]
	path = dotfiles/nvim/pack/plugins/opt/nvim-lsp
	url = https://github.com/neovim/nvim-lsp
[submodule "nvim-treesitter"]
	path = dotfiles/nvim/pack/plugins/opt/nvim-treesitter
	url = https://github.com/nvim-treesitter/nvim-treesitter
[submodule "clever-f"]
	path = dotfiles/nvim/pack/plugins/opt/clever-f
	url = https://github.com/rhysd/clever-f.vim
[submodule "deoplete"]
	path = dotfiles/nvim/pack/plugins/opt/deoplete
	url = https://github.com/Shougo/deoplete.nvim
[submodule "neopairs"]
	path = dotfiles/nvim/pack/plugins/opt/neopairs
	url = https://github.com/Shougo/neopairs.vim
[submodule "ultisnips"]
	path = dotfiles/nvim/pack/plugins/opt/ultisnips
	url = https://github.com/SirVer/ultisnips
[submodule "subversive"]
	path = dotfiles/nvim/pack/plugins/opt/subversive
	url = https://github.com/svermeulen/vim-subversive
[submodule "commentary"]
	path = dotfiles/nvim/pack/plugins/opt/commentary
	url = https://github.com/tpope/vim-commentary
[submodule "sleuth"]
	path = dotfiles/nvim/pack/plugins/opt/sleuth
	url = https://github.com/tpope/vim-sleuth
