[Unit]
Description=Load tty-keymap.
After=getty.target

[Service]
Type=oneshot
ExecStart=/usr/bin/loadkeys /usr/local/share/kbd/keymaps/key.map

[Install]
WantedBy=multi-user.target
