/* Remove tracking-protection-icon from the url-bar */
#tracking-protection-icon-container { display: none; }

/* Remove left drag-space from the tab-bar */
.titlebar-spacer[type="pre-tabs"] { display:none; }

/* Remove rounded corners */
/* https://www.reddit.com/r/FirefoxCSS/comments/nqeiog/comment/h0a9wv4/?utm_source=share&utm_medium=web2x&context=3 */
menupopup,
.menupopup-arrowscrollbox{ border-radius: 0 !important; }
:root{--arrowpanel-border-radius:0px !important;}
