snippet r "return" b
return$0;
endsnippet

snippet i "if" b
if ($1)
	$0
endsnippet

snippet ii "if" b
if ($1) {
	$0
}
endsnippet

snippet ei "else if" b
else if ($1) $0
endsnippet

snippet p "printf" b
printf($0);
endsnippet
