snippet c "code" b
\`\`\`$1
$0
\`\`\`
endsnippet

snippet mfg "" b
Mit freundlichen Grüßen
Aleksandrs Stier
endsnippet

snippet g "" b
Grüße
Aleks
endsnippet

snippet vg "" b
Viele Grüße
Aleks
endsnippet

snippet bg "" b
Beste Grüße
Aleks
endsnippet

snippet lg "" b
Liebe Grüße
Aleks
endsnippet

snippet n "name" b
Aleksandrs Stier
endsnippet

snippet h "" b
Hallo $1,

$0
endsnippet
