snippet p "print" b
print($0)
endsnippet

snippet b "breakpoint" b
breakpoint()
endsnippet

snippet d "def" b
def $0():
	pass
endsnippet

snippet i "init" b
def __init__(self):
	pass
endsnippet

snippet dc "def-class" b
def $0(self):
	pass
endsnippet

snippet s "shebang" b
#!/usr/bin/env python3


endsnippet

snippet c "cell" b
# %% $0
endsnippet
